---
import { Button } from "@/components/starwind/button";

const {
    type = "button",
    id,
    class: className = "",
    variant = "ghost",
    size = "md",
} = Astro.props;
---

<!-- Yes, its actually a button for reasons -->
<Button
    id={id}
    type={type}
    variant={variant}
    size={size}
    class={`inline-flex items-center gap-1 px-3 py-1 text-[var(--primary)] hover:bg-transparent dark:hover:bg-transparent hover:[&>span>span]:w-full ${className}`}
>
    <span class="inline-block relative">
        <slot name="text" />
        <span
            class="block absolute bottom-0 left-0 h-[1px] bg-current w-0 transition-all duration-300"
        ></span>
    </span>
</Button>
